<!DOCTYPE html>
<html>
<head>
    <title>AI Job Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>AI Job Finder</h1>

<form method="POST" class="search-box">

    <input type="text"
           name="role"
           placeholder="Enter Job Role"
           value="{{ role }}">

    <input type="text"
           name="location"
           placeholder="Enter Location"
           value="{{ location }}">

    <button type="submit">Search Jobs</button>

</form>

<h3>Total Jobs Found: {{ jobs|length }}</h3>

<div class="container">

{% for job in jobs %}

<div class="card">

<h2>{{ job.title }}</h2>

<p><strong>Company:</strong> {{ job.company }}</p>

<p><strong>Location:</strong> {{ job.location }}</p>

<p><strong>Source:</strong> {{ job.source }}</p>

<a href="{{ job.link }}" target="_blank">
Apply Now
</a>

</div>

{% endfor %}

</div>

</body>
</html>
